body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body > header,
body > main {
    margin-top: 50px;
    display: inline-block;
    background-color: yellow; 
    width: 800px; 
    margin-left: calc( 50% - 400px);
}

header > img {
    float: left;
    height: 46px;
}

header > nav {
    float: right;
    margin-top: 13px;
}

nav > a {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}

nav > a:first-child {
    border-bottom: 2px solid rgba(255, 166, 0, 0.877);
}

a:hover {
    border-bottom: 2px solid red;
}

body > main {
    margin-top: 100px;
}

main > div {
    width: 45%;
    float: left;
    padding-right: 5%;
    background-color: bisque;
}

div > h1 {
    font-family: cursive;
    margin-bottom: 15px;
}

div > p {
    margin-bottom: 22px;
}

div > a {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    text-decoration: none;
    color: whitesmoke;
    background-color: orangered;
}

h1 > span {
    color: orangered;
}

main > img {
    float: left;
    width: 55%;
    height: 379px;
    object-fit: contain;
    object-position: right;
    background-color: lightgreen;
}